  {%  if pupils.0 == 1 %}
 {% for pupil in pupils.1 %}
  	<div>
           
            <p> {{ pupil.id }}. {{ pupil.name }} {{ pupil.surname }} {{ pupil.group_id }}</p>
        </div>

    {% endfor %}

{% else %}
    {{pupils.1}}

{% endif %}
