{%  if data.0 == 1 %}
 {% for tmp in data.1 %}
  {% if tmp.get_model_type == "student" %}
    <p> {{ tmp.name }} {{ tmp.surname }} </p>
  {% else %}
     {{ tmp.name }}   {{ tmp.mark }} 
      {% if tmp.mark %}
	<br><br>
	{% endif %}
  {% endif %}
   
    {% endfor %}

{% else %}
    {{data.1}}

{% endif %}
