    {%  if data.0 == 1 %}
	<p>    Предмет   оценки </p>    
    {% for x in data.1 %}
  	           
             {{ x.name }}   {{ x.mark }} 
      {% if x.mark %}
	<br><br>
	{% endif %}
        

    {% endfor %}
{% else %}
    {{data.1}}

{% endif %}
