{%  if teachers.0 == 1 %}
	<p>    ID                 Имя               Фамилия </p>    
    {% for teacher in teachers.1 %}
  	<div>
            
            <p> {{ teacher.id }}. {{ teacher.name }} {{ teacher.surname }} </p>
        </div>

    {% endfor %}
{% else %}
    {{teachers.1}}

{% endif %}
