<html>
<head>
    <title>School</title>
</head>
<body>
	<a href="../get_tutors_list/">Вывести список учителей</a>

    <form action="/get_pupils_list/" method="get">
        <input type="text" name="q" placeholder="id группы">
        <input type="submit" value="Вывести учеников группы">
    </form>

    <form action="/get_pupil_disciplines/" method="get">
        <input type="text" name="q" placeholder="id ученика">
        <input type="submit" value="Вывести список предметов ученика">
    </form>

    <form action="/get_pupil_stat_list/" method="get">
        <input type="text" name="q" placeholder="id ученика">
        <input type="submit" value="Вывести оценки ученика">
    </form>

    <form action="/get_class_stat/" method="get">
        <input type="text" name="q" placeholder="id группы">
        <input type="text" name="p" placeholder="id учителя">
        <input type="submit" value="Показать оценки в классе">
    </form>

    <form action="/set_pupil_point/" method="post">{% csrf_token %}
        <input type="text" name="d" placeholder="предмет">
        <input type="text" name="s" placeholder="оценка">
        <input type="text" name="q" placeholder="id ученика">
        <input type="text" name="p" placeholder="id учителя">
        <input type="submit" value="Поставить оценку ученику">
    </form>

</body>
</html>


